# Ignore all binary weight and checkpoint files
*.bin
*.jasonl

# Ignore raw datasets
*.txt
*.csv

# Ignore Livebook temp/cache files (optional but good practice)
/.cache/

# Ignore WordNet data files
data.adj
data.noun
data.verb
data.adv
